{% if site.footer-links.dribbble %}<a class='item' href='https://dribbble.com/{{ site.footer-links.dribbble }}'><i class='icon dribbble'></i></a>{% endif %}
{% if site.footer-links.email %}<a class='item' href='mailto:{{ site.footer-links.email }}'><i class='icon envelope'></i></a>{% endif %}
{% if site.footer-links.facebook %}<a class='item' href='https://www.facebook.com/{{ site.footer-links.facebook }}'><i class='icon facebook'></i></a>{% endif %}
{% if site.footer-links.flickr %}<a class='item' href='https://www.flickr.com/{{ site.footer-links.flickr }}'><i class='icon flickr'></i></a>{% endif %}
{% if site.footer-links.github %}<a class='item' href='https://github.com/{{ site.footer-links.github }}'><i class='icon github'></i></a>{% endif %}
{% if site.footer-links.instagram %}<a class='item' href='https://instagram.com/{{ site.footer-links.instagram }}'><i class='icon instagram'></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a class='item' href='https://www.linkedin.com/in/{{ site.footer-links.linkedin }}'><i class='icon linkedin'></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a class='item' href='https://www.pinterest.com/{{ site.footer-links.pinterest }}'><i class='icon pinterest'></i></a>{% endif %}
{% if site.footer-links.rss %}<a class='item' href='{{ site.baseurl }}/feed.xml'><i class='icon rss'></i></a>{% endif %}
{% if site.footer-links.twitter %}<a class='item' href='https://www.twitter.com/{{ site.footer-links.twitter }}'><i class='icon twitter'></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a class='item' href='http://stackoverflow.com/{{ site.footer-links.stackoverflow }}'><i class='icon stackoverflow'></i></a>{% endif %}
{% if site.footer-links.youtube %}<a class='item' href='https://youtube.com/{{ site.footer-links.youtube }}'><i class='icon youtube'></i></a>{% endif %}
{% if site.footer-links.googleplus %}<a class='item' href='https://plus.google.com/{{ site.footer-links.googleplus }}'><i class='icon googleplus'></i></a>{% endif %}
